.paginationBttns {
  width: 100%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
}

.paginationBttns a {
  padding: 6px 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.paginationBttns a:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: white;
}

.paginationActive a {
  color: var(--blue);
  background-color: white;
  border: 1px solid var(--blue);
}

.paginationDisabled a {
  color: white;
  border: #ccc;
  background-color: #ccc;
  cursor: default;
}
.paginationDisabled a:hover {
  color: white;
  border: #ccc;
  background-color: #ccc;
  cursor: default;
}