.flex-container{
  width: 100%;
  margin-right: 20px;
}
table{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: left;
  padding: 30px;
  background-color: var(--white);
}

tfoot{
  height: 20px;
  position: relative;
}


table th, td{
  min-width: 100px;
  height: 40px;
  color: var(--black1);
}

tr.table-title{
  font-size: 25px;
  color: var(--blue);
}

table th.table-title-button button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  border: none;
  padding: 0;
  margin: 0;
  width: 80px;
  color: var(--white);
  background: var(--blue);
  height: 40px;
  border-radius: 10px;
}
