.flex-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
table{
  width: 100%;
  text-align: left;
  padding: 20px;
  border-radius: 25px;
  background-color: var(--white);
  margin-right:20px ;
}

table th, td{
  min-width: 100px;
  height: 40px;
  color: var(--black1);
}

table th.table-title{
  font-size: 25px;
  max-width: 5px;
  color: var(--blue);
}

table th.table-title-button button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  border: none;
  padding: 0;
  margin: 0;
  width: 80px;
  color: var(--white);
  background: var(--blue);
  height: 40px;
  border-radius: 10px;
}
