.container{
  width: 80vw;
  margin: 0 auto;
  padding: 0 5%;
}

.header{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  padding: 0 5%;
  margin: 0 auto;
  padding-top: 25px;
}
svg{
  font-size: 40px;
}

.header :first-child{
  justify-self: flex-start;
}